---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Data Insights",
    description:
      "Gain critical information to make better business decisions.",
    icon: "bx:bx-scatter-chart",
  },
  {
    title: "Ecommerce Optimization",
    description:
      "We help you reduce costs by avoiding overpayment for services and third-party apps.",
    icon: "bx:bx-store-alt",
  },
  {
    title: "Networking",
    description:
      "Ensure a robust and secure network infrastructure to support your operations seamlessly.",
    icon: "bx:bx-signal-5",
  },
  {
    title: "VOIP Setup",
    description:
      "Implement a reliable and cost-effective VOIP phone system tailored to your business needs.",
    icon: "bx:bx-phone",
  },
  {
    title: "Access Control + Monitoring",
    description:
      "Enhance security with advanced access control systems to protect your business.",
    icon: "bx:bx-lock",
  },
  {
    title: "IT Consulting",
    description:
      "We offer expert knowledge beyond the basics of turning things off and on.",
    icon: "bx:bx-laptop",
  },
];
---

<div class="mt-16 md:mt-0" style="text-align: center;">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight" >
    Everything you need to propel your business
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    We provide the tools to keep you up-to-date with today's technology.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-cyan-400 rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-black" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
