---
// @ts-ignore
import { Icon } from "astro-icon/components";
---

<div class="mt-24">
  <h2 class="text-center text-slate-500">We know the most common tools for small business</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap ">

    <Icon class="size-8 md:size-12 text-green-500" name="simple-icons:shopify" />
    <Icon class="size-8 md:size-12 text-gray-700" name="simple-icons:square" />
    <Icon class="size-8 md:size-12 text-blue-600" name="simple-icons:wordpress" />
    <Icon class="size-8 md:size-12 text-yellow-500" name="simple-icons:googleanalytics" />
    <Icon class="size-8 md:size-12 text-purple-800" name="simple-icons:slack" />
    <Icon class="size-8 md:size-12 text-green-600" name="simple-icons:googlesheets" />
    <Icon class="size-8 md:size-12 text-red-500" name="simple-icons:adobe" />
    <Icon class="size-8 md:size-12 text-green-500" name="simple-icons:quickbooks" />
    <Icon class="size-8 md:size-12 text-black" name="simple-icons:mailchimp" />
    <Icon class="size-8 md:size-12 text-black" name="simple-icons:openai" />
    <Icon class="size-8 md:size-12 text-blue-500" name="simple-icons:ubiquiti" />
  </div>
</div>